<div class="container">
	<div class="row">
	  <div class="col-sm-8">
	    <div class="card">
	      <div class="card-header">
	      	<h4><%= @article.title %></h4>
	      </div>
		  <div class="card-block">
		  	<% if @article.image.present? %>
			  	<img class="img-rounded " src=<%= @article.image %> alt="Card image cap">
		  	<% end %>
		  	<p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>
		  </div>
		  <div class="card-footer">
		  	<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
			<%= link_to 'Article List', articles_path, class: 'btn btn-primary' %>	  
		  </div>
		</div>
	  </div>
	</div>
</div>